.counter {
    justify-content: center;
    align-self: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

body {


}

.card {
    width: 330px;
    height: 480x;
    border-radius: 8px;
    overflow: hidden;
    margin: 20px;
    transition: all 0.25s;
    padding: 0px;
}
.card h4 {
    font-size: 1.4rem;
    overflow: hidden;
}
.card img {
    width: 330px;
    height: 220px;
}
.card a{
    justify-content: center;
    text-align: center;
    align-items: center;
    ;
}


.card:hover {
    box-shadow: 5px 10px 20px 1px;
    transition: all 0.5s;
}

.tarjetaDetalle {
    font-size: 1rem;

}
.tarjetaDetalle_img {

}