.counter {
    justify-content: center;
    align-self: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

body {
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);

}

.btn_carrito {
    border-radius: 8px;
    transition: all 0.25s;
    font-size: 1.3rem;
}

.btn_carrito:hover{
    box-shadow: 5px 10px 20px 1px;
    transition: all 0.5s;
}

.navbar {
    padding: 0px;
    margin: 0px;

}

.nav-link{
    font-size: 1rem;
    border-radius: 8px;
    transition: all 0.25s;

}


.nav-link:hover{
    box-shadow: 5px 10px 20px 1px;
    transition: all 0.5s;
}

.card {
    width: 320px;
    height: 460px;
    border-radius: 11px;
    overflow: hidden;
    margin: 20px;
    transition: all 0.25s;
    padding: 0px;
}
.card h4 {
    font-size: 1.4rem;
    overflow: hidden;
}
.card img {
    width: 350px;
    height: 220px;
}
.card a{
    justify-content: center;
    text-align: center;
    align-items: center;
    ;
}


.card:hover {
    box-shadow: 5px 10px 20px 1px;
    transition: all 0.5s;
}

.tarjetaDetalle {
    font-size: 1rem;


}


/* .btn {
    padding: 8px;
    border-radius: 8px;
    transition: all 0.25s;
    font-size: 1rem;
} */

.logo {
    height: 60px;
    width: 100px;
    margin-right: 20px;
    margin-left: 20px;
    padding: 0px;
    border-radius: 8px;
}
.logo:hover {
    box-shadow: 5px 10px 20px 1px;
    transition: all 0.5s;
    color: #e2ebf0;

}

.check {
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);

    font-size: 1rem;
    border-radius: 8px;
    transition: all 0.25s;
    color: black;
}

.imgform{
    height: 100px;
    width: 100px;
}

input:invalid {
    background-color: pink;
}
